<div class="container p-5">
    <div class="row">
        <div class="col-6 border border-ligth rounded p-5 shadow" *ngIf="formulario">
            <H6>{{tituloFormulario}}</H6>
            <hr />
            <form [formGroup]="formulario">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="description" >
                </div>

                <div class="form-group">
                    <label>Status:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="status" >
                </div>

                <div class="form-group">
                    <label>Data:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="date" >
                </div>

                <div class="container"> 
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light">Voltar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
